* {
    /*border: 0.1em gray dashed;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/backg.jpg);
    background-position: fixed; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.box {
    position: relative;
    border-radius: 0.7em;
    border: 0.1em white solid;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.box * {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
}

.blurPic {
    border-radius: 0.7em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(241, 233, 216, 0.329);
    z-index: 2;
}
a:hover, .hoverbox:hover{
    background-color: rgba(250, 249, 248, 0.274);
}
.picture{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 50%;
    z-index: 3;
}
.textfield{
    height: min-content;
    padding: 1em;
    color: black;
    background-color: rgba(240, 255, 240, 0.527);
    border: 0.1em white solid;
    border-radius: 0 0 0.7em 0.7em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 4;
}
a, .hoverbox{
    display: block;
    height: 100%;
    z-index: 5;
}

audio{
    z-index: 6;
    margin-bottom: 13vw;
}

#BoxA{
    grid-area: A;
    background-image: url(../images/HikingA.JPG);
    
}
#picA{
    background-image: url(../images/HikingA.JPG);
}

#BoxB{
    grid-area: B;
    background-image: url(../images/HikingB.JPG);
}
#picB{
    background-image: url(../images/HikingB.JPG);
}

#BoxC{
    grid-area: C;
    background-image: url(../images/Board.JPG);
}
#picC{
    background-image: url(../images/Board.JPG);
}

#BoxD{
    grid-area: D;
    background-image: url(../images/Corona.JPG);
}
#picD{
    background-image: url(../images/Corona.JPG);
}

#BoxE{
    grid-area: E;
    background-image: url(../images/suchbild-veraendert.jpg);
}
#picE{
    background-image: url(../images/suchbild-veraendert.jpg);
}
#BoxF{
    grid-area: F;
    background-image: url(../images/photoK.jpg);
}
#picF{
    background-image: url(../images/photoK.jpg);
}
#BoxG{
    grid-area: G;
    background-image: url(../images/flat1.jpg);
}
#picG{
    background-image: url(../images/flat1.jpg);
}
#BoxH{
    grid-area: H;
    background-image: url(../images/shop.png);
}
#picH{
    background-image: url(../images/shop.png);
}
#BoxI{
    grid-area: I;
    background-image: url(../images/sam1.jpg);
}

#BoxJ{
    grid-area: J;
    background-image: url(../images/sam2.jpg);
}



#main-grid {
    align-self: center;
    display: grid;
    grid-template-columns: 12vw 35vw 35vw 12vw;
    grid-template-rows: 30vw 30vw 30vw 30vw 30vw;
    grid-template-areas: 
        ". A B . "
        ". C D . "
        ". E F . "
        ". G H . "
        ". I J . ";
    column-gap: 2vw;
    row-gap: 3vw;
}


@media only screen and (max-width: 600px) {
    #main-grid {
        padding-left: 3vw;
        grid-template-columns: 90vw;
    grid-template-rows: repeat(90vw);
    row-gap: 4em;
        grid-template-areas: 
            "A"
            "B"
            "C"
            "D"
            "E"
            "F"
            "G"
            "H"
            "I"
            "J"
            ;
    }
    .box{
        height: 40vw;
    }
    a{
        height: 40vw;
    }
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.699);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.582);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  .mySlides img{
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 80vh;
      object-fit: contain;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: 7em;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 9;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
